body {
    padding: 0;
    margin: 0;
}
.head {
    width: 100%;
    height: 110px;
    background-color: #171a21;

    
}
.container{
    width: 976px;
    margin: 0 auto;
    display: flex;
    
    
    
}
.steam__icon{
    width: 140px;
    height: 50px;
    z-index: 1;
    
    
}
.steam__logo {
    margin-top: 20px;
}
.nav {
    display: flex;
    margin-left: 70px;
    margin-top: 42px;

}

/* drop down navigation */
.link {
    text-decoration: none;
    color: #a8a7a6;
    padding: 5px;
}
.link:hover{
    color: #fff;
}
.dropbtn {
    background-color:#171a21 ;
    
    padding: 3px;
    font-size: 14px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
    height: 50px;
    
}
.sub__content {
    display: none;
    position: absolute;
    background-color: #171a21;
    min-width: 150px;
    box-shadow: 0px 16px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-bottom: 10px;
}
.sub__content a {
    color: #a8a7a6;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    font-size: 11px;
    
    
}
.sub__content a:hover {
    
}
.dropdown:hover .sub__content {
    display: block;
}

/* drop down navigation */
.left__nav {
    
}
.down__btn{
    background-color: #171a21;
    border: 0;
    background-color: #3c3d41;
    
    
}
.down__png {
    color: #a8a7a6;
    
}

/* ------------------ */
    .wraper__body {
        
    }
/* ------------------ */